 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles



.welcome {
    text-align:center;
    }

.fight{
    height:900px;
    background: transparent url("../images/backgroundgame.png") repeat scroll 0 0;
    display:none;
  }

.ggHealth, .bgHealth {

    padding-left:5px;

  }


.leftSide{
  border:solid;
  border-width:1px;
  float:left;
  margin-top:200px;
  margin-left:0px;
}

.rightSide{
  border:solid;
  border-width:1px;
  float:right;
  margin-top:200px;
  margin-right:0px;
}

.attack{
  display:block;
  margin-top:500px;
  clear:both;

}

.container{

}
